
<div class="card" style="width: 13rem; display: flex">

<li class="list-group-item" >
	{{this.burger_name}} </br>
	

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{devoured}}">
		{{#unless devoured}} Make Burger Again {{else}} Devour Burger! <button class="toggle-class"> Hide Burger</button>{{/unless}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li> 
<img  src="/assets/img/burger1.jpg" height= 200 width= 260>

</div>
 

 {{!-- <img  src="/assets/img/burger2.jpg" height= 85 width= 85> --}}